/*body {background-color:#00EEFF;}*/
body{margin-left:150pt;margin-right:150pt;background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), 0%, rgba(0,0,0,0.7) 100%), url(../figuras/andes.jpg); background-size: cover;}
h3 {text-align:center;color:#ff8800;}
H4 {color:#F60056;}
p {text-align:justify;color:#DDDDDD;font-size:12pt;font-weight:50%;font-family:'Verdana', sans-serif;}
p.cient {text-align:center;color:#ff0050;font-size:150%;font-weight:70%;font-family:'Verdana', sans-serif;}
h1 {text-align:center;color:white;}
figcaption {text-align:center;color:black;font-size:16pt;font-weight:50%}
figcaption.blanco {text-align:center;color:white;font-size:14pt;font-weight:50%}
li {text-align:center;}

table.center {margin-left:auto; margin-right:auto;}
